html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 110%;
    background-color: #F5F5F5;
    color: #2b354e;
}

input {
    background-color: #FAFAFA;
    border-style: groove;
    border-radius: 10%;
    color: #2b354e;
    font-size: 85%;
}

button {
    background-color: #FAFAFA;
    border-style: groove;
    border-radius: 10%;
    color: #2b354e;
    font-size: 85%;
    transition: 0.3s;
}

button:hover {
    background-color: #EDEDED;
}

/* For mobile phones up to 600px */
@media (max-width: 600px) { 
    #resultList{
        padding: 0;
    }
    .rTitle{
        padding: 7;
    }
    .layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .actTab {
        width: 80%;
        max-width: 450px;
        padding: 20px;
        margin: 20px auto;
    }
    .sidebar {
        display: none;
        width: 0;
        height: 0;
    }
    .content {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    button {
        width: 100%;
        font-size: 18px;
        max-width: 100px;
    }
    input {
        width: 100%;
        font-size: 18px;
        max-width: 50px;
        text-align: center;
    }
    h1 {
        font-size: 22px;
    }
    .records {
    width: 80%;
    max-width: 450px;
    padding: 20px;
    margin: 20px auto;
    }
}
/* For tablet devices up to 1024px */
@media (min-width: 600px) and (max-width: 1024px) {
    .layout {
        flex-direction: column;
        padding: 20px;
    }
    .sidebar {
        display: none;
    }
    .content {
        max-width: 700px;
        margin: 0 auto;
    }
    button {
        width: 100%;
        font-size: 18px;
        max-width: 100px;
    }
    input{
        width: 100%;
        font-size: 18px;
        max-width: 50px;
    }
    #resultList {
        padding: 0;
    }
    .rTitle {
        padding: 7;
    }
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(161, 160, 160, 0.4);
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#savedResult {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.popup-style {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    }

.close {
    border: none;
    background: none;
    position: absolute;
    top: 10px;
    right: 15px;
    left: auto;
    color: #444;
    font-size: 24px;
    padding: 5px 10px;
    cursor: pointer;
    transition: color 0.5s ease;
}

.close:hover {
    color: #2b354e;
}

.records{
    margin-top: 20px;
    padding: 20px;
    border-style: groove;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
}

.deleteResult {
    background-color: transparent;
    color: red;
    border: 1px solid red;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
    padding: 2px 5px;
}

.deleteResult:hover {
    background-color: red;
    color: white;
}

.actTab{
    padding: 20px;
    border: groove;
    border-radius: 10px;
    margin-top: 60px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
}


.layout{
    display: flex;
    justify-content: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px 0;
}

.content{
    flex-grow: 1;
    max-width: 1000px;
    margin: 0 100px;
}

.sidebar {
    width: 200px;
    min-height: 400px;
    background-color: #EFEFEF;
    padding: 20px;
    margin-top: 60px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 800px;
    display: none;
}
